.main {
  padding: 3rem;
  min-height: 100vh;
}

.h1 {
  margin-bottom: 1rem;
}

.h2 {
  margin-bottom: 0.8rem;
}

.h3 {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
.h4 {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.gridcontainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

.ul {
  list-style-position: inside;
}

.linkContainer {
  margin-top: 1.8rem;
  text-align: center;
}

.link {
  color: #777777;
}

.link:hover {
  color: blue;
}